.card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ccc;
    border-radius: 5px;
    width: 60%;
    height: 300px;
    margin-bottom: 15px;
    
    cursor: pointer;
    -moz-osx-front-smoothing:grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover{
    transform: scale(1.05);
}